# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [156]:
import pandas as pd
dt = pd.read_csv("./data/sp500hst.txt", sep=",", header=None, names=["date", "ticker", "open", "high", "low", "close", "volume"])
dt.tail()

            date ticker   open   high    low  close  volume
122569  20100813    ZMH  51.72  51.90  51.38  51.44   14561
122570  20100816    ZMH  51.13  51.47  50.60  51.00   13489
122571  20100817    ZMH  51.14  51.60  50.89  51.21   20498
122572  20100819    ZMH  51.63  51.63  50.17  50.22   18259
122573  20100820    ZMH  50.03  50.55  49.48  49.82   17792

In [157]:
dt[["low", "close"]]

           low  close
0       25.220  25.55
1       25.330  25.50
2       25.225  25.34
3       25.145  25.48
4       25.230  25.54
...        ...    ...
122569  51.380  51.44
122570  50.600  51.00
122571  50.890  51.21
122572  50.170  50.22
122573  49.480  49.82

[122574 rows x 2 columns]

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [158]:
dt.iloc[:, 3:5].mean() # считает значение по столбцам

high    43.102243
low     42.054464
dtype: float64

In [159]:
dt.iloc[:, 3:5]

           high     low
0       25.6100  25.220
1       25.7400  25.330
2       25.7000  25.225
3       25.6425  25.145
4       25.5700  25.230
...         ...     ...
122569  51.9000  51.380
122570  51.4700  50.600
122571  51.6000  50.890
122572  51.6300  50.170
122573  50.5500  49.480

[122574 rows x 2 columns]

In [160]:
dt.dtypes

date        int64
ticker     object
open      float64
high      float64
low       float64
close     float64
volume      int64
dtype: object

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [161]:
pd.to_datetime(dt["date"], format="%Y%m%d").dt.month

0         8
1         8
2         8
3         8
4         8
         ..
122569    8
122570    8
122571    8
122572    8
122573    8
Name: date, Length: 122574, dtype: int64

In [162]:
dt["ticker"].str.lower()

0           a
1           a
2           a
3           a
4           a
         ...
122569    zmh
122570    zmh
122571    zmh
122572    zmh
122573    zmh
Name: ticker, Length: 122574, dtype: object

In [163]:
# dt.iloc[5:15]["date"]
# или так
dt.loc[5:10, "date"]

5     20090828
6     20090831
7     20090901
8     20090902
9     20090903
10    20090904
Name: date, dtype: int64

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

In [164]:
dt.groupby("ticker")["open"].mean()

ticker
A        30.234857
AA       13.086959
AAPL    221.342427
ABC      27.432122
ABT      50.996776
           ...
XTO      44.640338
YHOO     15.854774
YUM      37.456898
ZION     19.694057
ZMH      56.220980
Name: open, Length: 524, dtype: float64

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

In [165]:
sp = pd.read_csv("./data/sp_data2.csv", sep=";", header=None, names=["ticker", "company","%"])
sp

    ticker          company     %
0     AAPL            Apple  3.6%
1     AMZN       Amazon.com  3.2%
2    GOOGL         Alphabet  3.1%
3     GOOG         Alphabet  3.1%
4     MSFT        Microsoft  3.0%
..     ...              ...   ...
500    SCG            SCANA  0.0%
501    AIZ         Assurant  0.0%
502    AYI    Acuity Brands  0.0%
503    HRB        H&R Block  0.0%
504    RRC  Range Resources  0.0%

[505 rows x 3 columns]

In [166]:
pd.merge(dt, sp, how="inner", left_on="ticker", right_on="ticker")

,date,ticker,open,high,low,close,volume,company,%
0,20090821,A,25.60,25.6100,25.220,25.55,34758,Agilent Technologies,0.1%
1,20090824,A,25.64,25.7400,25.330,25.50,22247,Agilent Technologies,0.1%
2,20090825,A,25.50,25.7000,25.225,25.34,30891,Agilent Technologies,0.1%
3,20090826,A,25.32,25.6425,25.145,25.48,33334,Agilent Technologies,0.1%
4,20090827,A,25.50,25.5700,25.230,25.54,70176,Agilent Technologies,0.1%
...,...,...,...,...,...,...,...,...,...
82167,20100813,ZION,20.17,20.4300,19.840,19.89,25193,Zions Bancorp,0.0%
82168,20100816,ZION,19.81,19.9600,19.600,19.95,25914,Zions Bancorp,0.0%
82169,20100817,ZION,20.07,20.4700,19.830,20.31,31717,Zions Bancorp,0.0%
82170,20100819,ZION,19.83,20.0000,19.130,19.35,45935,Zions Bancorp,0.0%
82171,20100820,ZION,19.15,19.2700,18.810,19.14,37225,Zions Bancorp,0.0%

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца(ов) с индексами.

In [167]:
recipes = pd.read_csv("./data/recipes_sample.csv", sep=",", parse_dates=['submitted'])
reviews = pd.read_csv("./data/reviews_sample.csv", sep=",", parse_dates=['date'])
print(recipes.head())
print(reviews.tail())

                                       name     id  minutes  contributor_id  \
0     george s at the cove  black bean soup  44123       90           35193
1        healthy for them  yogurt popsicles  67664       10           91970
2              i can t believe it s spinach  38798       30            1533
3                      italian  gut busters  35173       45           22724
4  love is in the air  beef fondue   sauces  84797       25            4470

   submitted  n_steps                                        description  \
0 2002-10-25      NaN  an original recipe created by chef scott meska...
1 2003-07-26      NaN  my children and their friends ask for my homem...
2 2002-08-29      NaN            these were so go, it surprised even me.
3 2002-07-27      NaN  my sister-in-law made these for us at a family...
4 2004-02-23      4.0  i think a fondue is a very romantic casual din...

   n_ingredients
0           18.0
1            NaN
2            8.0
3            NaN
4            NaN
        Unnamed: 0     user_id  recipe_id       date  rating  \
126691     1013457     1270706     335534 2009-05-17       4
126692      158736     2282344       8701 2012-06-03       0
126693     1059834      689540     222001 2008-04-08       5
126694      453285  2000242659     354979 2015-06-02       5
126695      691207      463435     415599 2010-09-30       5

                                                   review
126691  This recipe was great! I made it last night. I...
126692  This recipe is outstanding. I followed the rec...
126693  Well, we were not a crowd but it was a fabulou...
126694  I have been a steak eater and dedicated BBQ gr...
126695  Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [168]:
print(f"Для рецептов\n\nКоличество строк: {recipes.shape[0]}\nКоличество столбцов: {recipes.shape[1]}\nТип данных:\n{recipes.dtypes}")
print(f"\n\nДля ревью\n\nКоличество строк: {reviews.shape[0]}\nКоличество столбцов: {reviews.shape[1]}\nТип данных:\n{reviews.dtypes}")

Для рецептов

Количество строк: 30000
Количество столбцов: 8
Тип данных:
name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object


Для ревью

Количество строк: 126696
Количество столбцов: 6
Тип данных:
Unnamed: 0             int64
user_id                int64
recipe_id              int64
date          datetime64[ns]
rating                 int64
review                object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [169]:
NA_dropped = len(recipes.dropna())  # кол-во без пропусков
NA_amount = recipes.shape[0] - NA_dropped  # кол-во пропусков
print("recipes", str(round(NA_amount * 100 / recipes.shape[0], 2))+"%")

# 2

consist_NA = reviews.isna().sum(axis=1).astype(bool).sum()
print("reviews", str(round(consist_NA/reviews.shape[0], 5))+"%")
# recipes.isnull().sum()

recipes 56.85%
reviews 0.00013%

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [170]:
# print("Ср время:", recipes["minutes"].mean())
# print("Ср кол-во шагов:", recipes["n_steps"].mean())
# print("Ср кол-во ингридиентов:", recipes["n_ingredients"].mean())
for i in ("minutes", "n_steps", "n_ingredients"):
    print(i, recipes[i].mean())


print("Ср рейтинг:", reviews["rating"].mean())

minutes 123.35813333333333
n_steps 9.805582137161085
n_ingredients 9.008285984848484
Ср рейтинг: 4.410802235271832

1.5 Создайте серию из 10 случайных названий рецептов.

In [171]:
recipes['name'].sample(10)

14752                   italian style bean soup mix
21007                           plum sponge pudding
8781                    crumbed cutlets  very juicy
29015                        warm goat cheese salad
13021           grilled sirloin in bourbon marinade
5688     chicken breasts with savory mushroom sauce
5838                 chicken marengo with mushrooms
28583            vegan chocolate cake with frosting
8068                       cream cheese potato soup
17517                                  mexican pork
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [172]:
# Так

# reviews.index = (reviews.index + 1)
# print(reviews)


# Или так

reviews.rename(columns={'Unnamed: 0': 'index'}, inplace=True)
reviews = reviews.set_index("index")
print(reviews)

            user_id  recipe_id       date  rating  \
index
370476        21752      57993 2003-05-01       5
624300       431813     142201 2007-09-16       5
187037       400708     252013 2008-01-10       4
706134   2001852463     404716 2017-12-11       5
312179        95810     129396 2008-03-14       5
...             ...        ...        ...     ...
1013457     1270706     335534 2009-05-17       4
158736      2282344       8701 2012-06-03       0
1059834      689540     222001 2008-04-08       5
453285   2000242659     354979 2015-06-02       5
691207       463435     415599 2010-09-30       5

                                                    review
index
370476   Last week whole sides of frozen salmon fillet ...
624300   So simple and so tasty!  I used a yellow capsi...
187037   Very nice breakfast HH, easy to make and yummy...
706134   These are a favorite for the holidays and so e...
312179   Excellent soup!  The tomato flavor is just gre...
...                                                    ...
1013457  This recipe was great! I made it last night. I...
158736   This recipe is outstanding. I followed the rec...
1059834  Well, we were not a crowd but it was a fabulou...
453285   I have been a steak eater and dedicated BBQ gr...
691207   Wonderful and simple to prepare seasoning blen...

[126696 rows x 5 columns]

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [173]:
recipes[(recipes["minutes"] < 20) & (recipes["n_ingredients"] < 6)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
112,10 minute lime pie,513963,10,2284242,2014-03-04,12.0,a super easy stand-in for traditional key lime...,5.0
117,100 year old pie crust,126072,15,205983,2005-06-15,NaN,very nice light crust,5.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [174]:

# pd.to_datetime(recipes["submitted"], format="%Y-%m-%d")
recipes.dtypes["submitted"]

dtype('<M8[ns]')

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [175]:

recipes[pd.to_datetime(recipes["submitted"], format="%Y-%m-%d").dt.year < 2011]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [176]:
recipes["description"] = recipes["description"].str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,330.0,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,255.0,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,39.0,8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,154.0,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,587.0,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,484.0,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,286.0,11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,311.0,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,648.0,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,125.0,10.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [178]:
recipes['name'] = recipes['name'].str.title()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,330.0,18.0
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,255.0,NaN
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,39.0,8.0
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,154.0,NaN
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,587.0,NaN
...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,484.0,10.0
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,286.0,11.0
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,311.0,NaN
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,648.0,NaN
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,125.0,10.0

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами).

In [193]:
# recipes["name"].str.split().apply(list)
recipes["name_word_count"] = recipes["name"].str.split().apply(len)
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,330.0,18.0,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,255.0,NaN,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,39.0,8.0,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,154.0,NaN,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,587.0,NaN,8
...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,484.0,10.0,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,286.0,11.0,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,311.0,NaN,5
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,648.0,NaN,2
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,125.0,10.0,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [203]:
recipes.groupby("contributor_id")["id"].count()

contributor_id
1530            5
1533          186
1534           50
1535           40
1538            8
             ...
2001968497      2
2002059754      1
2002234079      1
2002234259      1
2002247884      1
Name: id, Length: 8404, dtype: int64

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы?

In [205]:
reviews.groupby("recipe_id")["rating"].mean()

recipe_id
48        1.000000
55        4.750000
66        4.944444
91        4.750000
94        5.000000
            ...
536547    5.000000
536610    0.000000
536728    4.000000
536729    4.750000
536747    0.000000
Name: rating, Length: 28100, dtype: float64

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [209]:
recipes.groupby(recipes["submitted"].dt.year)["name"].count()

submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: name, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты без отзывов должны отсутствовать в данной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и выведя на экран строку из полученного `DataFrame`, содержащую информацию об этом отзыве.

In [232]:
#  
joined = pd.merge(recipes, reviews, how="inner", left_on="id", right_on="recipe_id")
joined = joined[["id", "name", "user_id", "rating"]]
joined
# TODO без отзывов и далее

            id                                    name  user_id  rating
0        44123   George S At The Cove  Black Bean Soup   743566       5
1        44123   George S At The Cove  Black Bean Soup    76503       5
2        44123   George S At The Cove  Black Bean Soup    34206       5
3        67664      Healthy For Them  Yogurt Popsicles   494084       5
4        67664      Healthy For Them  Yogurt Popsicles   303445       5
...        ...                                     ...      ...     ...
126691  486161                             Zydeco Soup   305531       5
126692  486161                             Zydeco Soup  1271506       5
126693  486161                             Zydeco Soup   724631       5
126694  486161                             Zydeco Soup   133174       5
126695  298512  Cookies By Design   Cookies On A Stick   804234       1

[126696 rows x 4 columns]

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`. У рецептов, для которых отсутствуют отзывы, в соответствущем столбце должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и выведя на экран строку из полученного `DataFrame`, содержащую информацию об этом отзыве.

In [ ]:
# TODO

5.3. Выясните, отзывы, добавленные в каком году, имеют наименьший средний рейтинг?

In [224]:
rate_year = reviews.groupby(reviews['date'].dt.year)['rating'].mean()
rate_year.idxmin(), rate_year.min()

(2017, 3.3530416951469584)

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [210]:
recipes.sort_values(by=['name_word_count'])
recipes.to_csv("./data/task6_1.csv")
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,330.0,18.0,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,255.0,NaN,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,39.0,8.0,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,154.0,NaN,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,587.0,NaN,8
...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,484.0,10.0,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,286.0,11.0,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,311.0,NaN,5
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,648.0,NaN,2
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,125.0,10.0,7

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [ ]:
# TODO