In [1]:
import sqlalchemy
from sqlalchemy import create_engine

engine = create_engine('sqlite:///Baranov_Quiz_2.db')

In [2]:
import numpy as np
from datetime import datetime
from sqlalchemy import (MetaData, Table, Column, Integer, Numeric, String, DateTime, 
                        Boolean, ForeignKey, create_engine, PrimaryKeyConstraint, 
                        UniqueConstraint, CheckConstraint, Index, insert, BigInteger)

In [3]:
metadata = MetaData()

### Создание трех таблиц:
- student
- subject
- exam_marks

In [4]:
student = Table('student',metadata,
               Column('student_id',Integer(), nullable=False, primary_key=True),
               Column('surname',String(50), nullable=False, index=True),
               Column('name',String(50), nullable=False),
               Column('stipend', Integer(), nullable=False),
               Column('kurs', Integer(), nullable=False),
               Column('city',String(50)),
               Column('birthday', String()),
               Column('univ_id', Integer(), nullable=False),
               extend_existing=True
              )

In [5]:
subject = Table('subject',metadata,
               Column('subj_id',Integer(), nullable=False, primary_key=True),
               Column('subj_name',String(50), nullable=False),
               Column('hour',Integer(), nullable=False),
               Column('semester', Integer(), nullable=False),
               extend_existing=True
              )

In [6]:
exam_marks = Table('exam_marks',metadata,
               Column('exam_id',Integer(), nullable=False, primary_key=True),
               Column('student_id',Integer(), nullable=False),
               Column('subj_id',Integer(), nullable=False),
               Column('mark', Integer()),
               Column('exam_date', String(), nullable=False),
               extend_existing=True
              )

In [7]:
metadata.create_all(engine)

In [8]:
connection=engine.connect()

### Заполнение данными таблиц
добавим 2-3 записи в каждую таблицу

In [9]:
student_list=[
    {
        'student_id' : 1,
        'surname' : 'Иванов',
        'name' : 'Иван',
        'stipend' : 150,
        'kurs' : 1,
        'city' : 'Орел',
        'birthday' : '1982-12-03',
        'univ_id' : 10
    },
    {
        'student_id' : 3,
        'surname' : 'Петров',
        'name' : 'Петр',
        'stipend' : 200,
        'kurs' : 3,
        'city' : 'Курск',
        'birthday' : '1980-12-0',
        'univ_id' : 10
    },
    {
        'student_id' : 6,
        'surname' : 'Сидоров',
        'name' : 'Вадим',
        'stipend' : 150,
        'kurs' : 4,
        'city' : 'Москва',
        'birthday' : '1979-06-07',
        'univ_id' : 22
    }
]

student_ins = student.insert()

In [10]:

result=connection.execute(student_ins, student_list)

In [11]:
# Одиночная вставка данных
subject_ins1 = subject.insert().values(
    subj_id = 10,
    subj_name = 'Информатика',
    hour = 56,
    semester = 1
)

subject_ins2 = subject.insert().values(
    subj_id = 22,
    subj_name = 'Физика',
    hour = 34,
    semester = 1
)

subject_ins3 = subject.insert().values(
    subj_id = 43,
    subj_name = 'Математика',
    hour = 56,
    semester = 2
)

In [12]:
result=connection.execute(subject_ins1)
result=connection.execute(subject_ins2)
result=connection.execute(subject_ins3)

In [13]:
# Одиночная вставка
# exam_marks_ins1 = exam_marks.insert().values(
#     exam_id = 34,
#     student_id = 32,
#     subj_id = 10,
#     mark = 4,
#     exam_date = '2000-01-23'
# )
# exam_marks_ins2 = exam_marks.insert().values(
#     exam_id = 43,
#     student_id = 6,
#     subj_id = 22,
#     mark = 4,
#     exam_date = '2000-01-18'
# )
# exam_marks_ins3 = exam_marks.insert().values(
#     exam_id = 75,
#     student_id = 55,
#     subj_id = 10,
#     mark = 5,
#     exam_date = '2000-01-05'
# )

# Вставка списка в exam_marks
exam_marks_list=[
    {
        'exam_id' : 34,
        'student_id' : 32,
        'subj_id' : 10,
        'mark' : 4,
        'exam_date' : '2000-01-23'
    },
    {
        'exam_id' : 43,
        'student_id' : 6,
        'subj_id' : 22,
        'mark' : 4,
        'exam_date' : '2000-01-18'
    },
    {
        'exam_id' : 75,
        'student_id' : 55,
        'subj_id' : 10,
        'mark' : 5,
        'exam_date' : '2000-01-05'
    }
]

multi_ins = exam_marks.insert()

In [14]:
# result=connection.execute(exam_marks_ins1)
# result=connection.execute(exam_marks_ins2)
# result=connection.execute(exam_marks_ins3)

# Вставка списка
result=connection.execute(multi_ins, exam_marks_list)

Выборка данных из таблицы ___student___

In [18]:
from sqlalchemy.sql import select
s = select([student])  
rp = connection.execute(s)
stud_res = rp.fetchall() 
stud_res

[(1, 'Иванов', 'Иван', 150, 1, 'Орел', '1982-12-03', 10),
 (3, 'Петров', 'Петр', 200, 3, 'Курск', '1980-12-0', 10),
 (6, 'Сидоров', 'Вадим', 150, 4, 'Москва', '1979-06-07', 22)]

Выборка данных из таблицы ___subject___

In [19]:
s = select([subject])  
rp = connection.execute(s)
subj_res = rp.fetchall() 
subj_res

[(10, 'Информатика', 56, 1), (22, 'Физика', 34, 1), (43, 'Математика', 56, 2)]

Выборка данных из таблицы ___exam_marks___

In [20]:
s = select([exam_marks])  
rp = connection.execute(s)
exam_res = rp.fetchall() 
exam_res

[(34, 32, 10, 4, '2000-01-23'),
 (43, 6, 22, 4, '2000-01-18'),
 (75, 55, 10, 5, '2000-01-05')]