# Баранов А.В. ПИ19-3

## Задание

1. Создайте отображение базы данных студентов *Students_2021.sqlite*
2. Напишите запрос, позволяющий получить из таблицы *exam_marks* значения столбца *mark* (экзаменационная оценка) для всех студентов, исключив из списка повторение одинаковых строк.
3. Напишите запрос для получения списка студентов без определенного места жительства.
4. Напишите запрос для получения списка студентов, проживающих в Воронеже и не получающих стипендию.
5. Напишите запрос для получения списка университетов, расположенных в Москве и имеющих рейтинг меньший, чем у ВГУ. Значение рейтинга НГУ получите с помощью отдельного запроса или подзапроса.
6. Напишите запрос, выполняющий вывод находящихся в таблице EXAM_MARKS номеров предметов обучения, экзамены по которым сдавались между 1 и 21 марта 2020 г.
7. Напишите запрос, который выполняет вывод названий предметов обучения, начинающихся на букву ‘И’.
8. Напишите запрос, выбирающий сведения о студентах, у которых имена начинаются на букву ‘И’ или ‘С’.
9. Напишите запрос для получения списка предметов обучения, названия которых состоят из более одного слова.
10. Напишите запрос для получения списка студентов, фамилии которых состоят из трех букв.
11. Составьте запрос для таблицы STUDENT таким образом, чтобы получить результат в следующем виде. Распечатайте первые 9 записей результата.
```
    И. Иванов 	 1982-12-03
    П. Петров 	 1980-12-01
    В. Сидоров 	 1979-06-07
              ...
```
12. Напишите запрос для получения списка студентов, фамилии которых начинаются на ‘Ков’ или на ‘Куз’.
13. Напишите запрос для получения списка предметов, названия которых оканчиваются на ‘ия’.
14. Напишите запрос для выбора из таблицы EXAM_MARKS записей, для которых отсутствуют значения оценок (поле MARK).
15. Составьте запрос, выводящий фамилии, имена студентов и величину получаемых ими стипендий, при этом значения стипендий должны быть увеличены в 100 раз.
16. Составьте запрос для таблицы UNIVERSITY таким образом, чтобы выходная таблица содержала всего один столбец в следующем виде: Код-10; ВГУ-г.ВОРОНЕЖ; Рейтинг=296.
17. Напишите запрос для подсчета количества студентов, сдававших экзамен по предмету обучения с идентификатором 10.
18. Напишите запрос, который позволяет подсчитать в таблице EXAM_MARKS количество различных предметов обучения.
19. Напишите запрос, который для каждого студента выполняет выборку его идентификатора и минимальной из полученных им оценок.
20. Напишите запрос, который для каждого предмета обучения выводит наименование предмета и максимальное значение номера семестра, в котором этот предмет преподается.
21. Напишите запрос, который для каждого конкретного дня сдачи экзамена выводит данные о количестве студентов, сдававших экзамен в этот день.
22. Напишите запрос, выдающий средний балл для каждого студента.
23. Напишите запрос, выдающий средний балл для каждого экзамена.
24. Напишите запрос, определяющий количество сдававших студентов для каждого экзамена
25. Напишите запрос, для определения количества предметов, преподаваемых на каждом курсе
26. Для каждого университета напишите запрос, выводящий суммарную стипендию
27. Для каждого семестра напишите запрос, выводящий общее количество часов, отводимое на изучение предметов

In [137]:
# Task1
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from datetime import datetime
from sqlalchemy import or_
from sqlalchemy import func
from pprint import pprint
engine = create_engine('sqlite:///Data/Students_2021.sqlite')
Base = automap_base()
Base.prepare(engine, reflect=True)
session = Session(engine)
city, exam_marks, student, university, subject, lecturer, subj_lect=Base.classes.values()

In [138]:
# Task2 

q1 = session.query(exam_marks.mark).distinct().all()
pprint(q1)

[(3,), (4,), (5,), (2,), (None,)]

In [139]:
# Task3

q1 = session.query(student.student_id, student.name).filter(student.city==None).all()
pprint(q1)

[(63, 'Ирина'), (64, 'Оксана')]

In [140]:
# Task4

q1 = session.query(student.student_id, student.name).filter(student.city=="Воронеж").filter(student.stipend==0).all()
pprint(q1)

[]

In [141]:
# Task5 

rating = session.query(university.rating).filter(university.univ_name=="НГУ")
q1 = session.query(university.univ_name).filter(university.rating<rating, university.city=="Москва").all()

pprint(q1)

[('ФинУ',), ('МТУСИ',)]

In [142]:
# Task6

q1 = session.query(exam_marks.subj_id).filter(exam_marks.exam_date.between("2020-03-01", "2020-03-21")).all()
pprint(q1)

[(73,), (12,), (11,)]

In [143]:
# Task7 

q1 = session.query(subject.subj_name).filter(subject.subj_name.like("И%")).all()
pprint(q1)

[('Информатика',), ('История',)]

In [144]:
# Task8

q1 = session.query(student.student_id, student.name).filter(
    or_(
        student.name.like("И%"),
        student.name.like("С%"))).all()
pprint(q1)

[(1, 'Иван'), (63, 'Ирина'), (100, 'Самуил')]

In [145]:
#9

q1 = session.query(subject.subj_name).filter(subject.subj_name.like("% %")).all()
pprint(q1)

[('Анализ данных',),
 ('Базы данных',),
 ('Программирование на языках Python и SQL',),
 ('Финансовые риски корпоративного инвестирования',),
 ('Финансовые рынки',),
 ('Экономическая информатика',)]

In [146]:
# Task10

q1 = session.query(student.student_id, student.surname).filter(student.surname.like("___")).all()
pprint(q1)

[(103, 'Шоу'), (104, 'Доу'), (105, 'Юнг')]

In [147]:
# Task11

res = session.query(student.name, student.surname, student.birthday).limit(9).all()
for item in res:
    print(item[0][0] + '. ' + item[1] + '\t' + item[2].strftime("%Y-%m-%d"))

И. Иванов	1982-12-03
П. Петров	1980-12-01
В. Сидоров	1979-06-07
Б. Кузнецов	1981-12-08
О. Зайцева	1981-05-01
П. Котов	2000-02-28
В. Белкин	1980-01-07
Е. Сергеева	1997-07-04
В. Семенова	1997-10-04

In [148]:
# Task12 

q1 = session.query(student.student_id, student.surname).filter(
    or_(
        student.surname.like("Ков%"),
        student.surname.like("Куз%"))).all()
pprint(q1)

[(10, 'Кузнецов')]

In [149]:
# Task13
q1 = session.query(subject.subj_id, subject.subj_name).filter(subject.subj_name.endswith("%ия")).all()
pprint(q1)

[(56, 'История'), (16, 'Финансовые риски корпоративного инвестирования')]

In [150]:
# Task14 

q1 = session.query(exam_marks.exam_id, exam_marks.exam_date).filter(exam_marks.mark.is_(None)).all()
pprint(q1)

[(639, datetime.datetime(2020, 3, 21, 0, 0))]

In [151]:
# Task15

q1 = session.query(student.surname, student.name, student.stipend * 100).all()
pprint(q1)

[('Иванов', 'Иван', 15000),
 ('Петров', 'Петр', 20000),
 ('Сидоров', 'Вадим', 15000),
 ('Кузнецов', 'Борис', 0),
 ('Зайцева', 'Ольга', 25000),
 ('Котов', 'Павел', 15000),
 ('Белкин', 'Вадим', 25000),
 ('Сергеева', 'Елизавета', 15000),
 ('Семенова', 'Вероника', 0),
 ('Медведева', 'Ирина', 10000),
 ('Афанасьева', 'Оксана', 25000),
 ('Синицин', 'Кондрат', 20000),
 ('Мельникова', 'Дарья', 10000),
 ('Никитин', 'Самуил', 25000),
 ('Калашников', 'Евгений', 20000),
 ('Петров', 'Касьян', 20000),
 ('Шоу', 'Бернар', 12000),
 ('Доу', 'Джо', 12000),
 ('Юнг', 'Карл', 10000)]

In [152]:
# Task16

q1 = session.query(university.univ_id, university.univ_name, university.city, university.rating).all()
for item in q1:
    print(f'Код-{item[0]}; {item[1]}-г.{item[2].upper()}; Рейтинг={item[3]}.')

Код-10; ВГУ-г.ВОРОНЕЖ; Рейтинг=296.
Код-11; НГУ-г.НОВОСИБИРСК; Рейтинг=345.
Код-14; БГУ-г.БЕЛГОРОД; Рейтинг=326.
Код-15; ТГУ-г.ТОМСК; Рейтинг=368.
Код-18; ВГМА-г.ВОРОНЕЖ; Рейтинг=327.
Код-22; МГУ-г.МОСКВА; Рейтинг=400.
Код-32; РГУ-г.РОСТОВ; Рейтинг=416.
Код-44; ФинУ-г.МОСКВА; Рейтинг=330.
Код-45; МГТУ-г.МОСКВА; Рейтинг=372.
Код-46; Политех-г.САНКТ-ПЕТЕРБУРГ; Рейтинг=300.
Код-47; КФУ-г.КАЗАНЬ; Рейтинг=330.
Код-48; УЛГУ-г.УЛЬЯНОВСК; Рейтинг=231.
Код-49; МТУСИ-г.МОСКВА; Рейтинг=295.

In [153]:
# Task17 

q1 = session.query(exam_marks.student_id).filter(exam_marks.subj_id==10).count()
pprint(q1)

8

In [154]:
# Task18

q1 = session.query(exam_marks.subj_id).distinct().count()
pprint(q1)

12

In [155]:
# Task19

q1 = session.query(exam_marks.student_id, func.min(exam_marks.mark)).group_by(exam_marks.student_id).all()
pprint(q1)

[(1, 3),
 (12, 4),
 (32, 3),
 (55, 3),
 (56, 2),
 (62, 3),
 (71, 3),
 (76, 3),
 (100, 3),
 (101, 2)]

In [156]:
# Task20

q1 = session.query(subject.subj_name, func.max(subject.semester)).group_by(subject.subj_name).all()
pprint(q1)

[('Web-дизайн', 4),
 ('Анализ данных', 1),
 ('Английский', 3),
 ('Базы данных', 7),
 ('Информатика', 1),
 ('История', 4),
 ('Математика', 2),
 ('ОБЖ', 2),
 ('Программирование', 2),
 ('Программирование на языках Python и SQL', 7),
 ('Физика', 1),
 ('Физкультура', 5),
 ('Финансовые риски корпоративного инвестирования', 5),
 ('Финансовые рынки', 6),
 ('Экономическая информатика', 7)]

In [157]:
# Task21 

q1 = session.query(str(exam_marks.exam_date), func.count(exam_marks.student_id)).group_by(exam_marks.exam_date).all()
pprint(q1)

[('2019-08-30 00:00:00.000000', 1),
 ('2019-09-02 00:00:00.000000', 1),
 ('2019-12-25 00:00:00.000000', 1),
 ('2019-12-31 00:00:00.000000', 1),
 ('2020-01-18 00:00:00.000000', 1),
 ('2020-02-22 00:00:00.000000', 1),
 ('2020-03-11 00:00:00.000000', 1),
 ('2020-03-13 00:00:00.000000', 1),
 ('2020-03-20 00:00:00.000000', 1),
 ('2020-03-21 00:00:00.000000', 7),
 ('2020-04-06 00:00:00.000000', 1),
 ('2020-05-04 00:00:00.000000', 1),
 ('2020-05-11 00:00:00.000000', 1),
 ('2020-05-13 00:00:00.000000', 1),
 ('2020-06-08 00:00:00.000000', 1),
 ('2020-07-04 00:00:00.000000', 1),
 ('2020-07-06 00:00:00.000000', 1),
 ('2020-07-24 00:00:00.000000', 1),
 ('2020-07-26 00:00:00.000000', 3),
 ('2020-08-10 00:00:00.000000', 1),
 ('2020-08-18 00:00:00.000000', 1),
 ('2020-09-09 00:00:00.000000', 1),
 ('2020-09-21 00:00:00.000000', 1),
 ('2020-10-24 00:00:00.000000', 1),
 ('2020-12-04 00:00:00.000000', 1),
 ('2020-12-17 00:00:00.000000', 3),
 ('2020-12-23 00:00:00.000000', 1),
 ('2021-03-01 00:00:00.000000', 1),
 ('2021-03-07 00:00:00.000000', 1),
 ('2021-03-14 00:00:00.000000', 1),
 ('2021-03-29 00:00:00.000000', 1)]

In [158]:
# Task22

q1 = session.query(exam_marks.student_id, func.avg(exam_marks.mark)).group_by(exam_marks.student_id).all()
pprint(q1)

[(1, 4.0),
 (12, 4.666666666666667),
 (32, 3.8),
 (55, 3.6),
 (56, 3.8333333333333335),
 (62, 3.6666666666666665),
 (71, 3.5),
 (76, 3.4),
 (100, 3.8333333333333335),
 (101, 2.5)]

In [159]:
# Task23
q1 = session.query(exam_marks.subj_id, func.avg(exam_marks.mark)).group_by(exam_marks.subj_id).all()
pprint(q1)

[(10, 3.75),
 (11, 4.0),
 (12, 3.4),
 (13, 4.2),
 (14, 3.5),
 (15, 3.75),
 (16, 2.0),
 (22, 4.0),
 (43, 3.0),
 (56, 3.0),
 (73, 4.0),
 (94, 4.0)]

In [160]:
# Task24

q1 = session.query(exam_marks.exam_id, func.count(exam_marks.student_id)).group_by(exam_marks.exam_id).all()
pprint(q1)

[(1, 1),
 (2, 1),
 (3, 1),
 (4, 1),
 (5, 1),
 (6, 1),
 (7, 1),
 (8, 1),
 (9, 1),
 (10, 1),
 (11, 1),
 (12, 1),
 (13, 1),
 (14, 1),
 (15, 1),
 (16, 1),
 (17, 1),
 (18, 1),
 (19, 1),
 (20, 1),
 (21, 1),
 (22, 1),
 (23, 1),
 (24, 1),
 (25, 1),
 (26, 1),
 (27, 1),
 (28, 1),
 (29, 1),
 (30, 1),
 (31, 1),
 (32, 1),
 (33, 1),
 (34, 1),
 (43, 1),
 (75, 1),
 (95, 1),
 (100, 1),
 (145, 1),
 (238, 1),
 (639, 1)]

In [161]:
# Task25 

q = session.query((subject.semester+1)/2, func.count(subject.subj_id)).group_by(subject.semester).all()
res = []
cnt = 0
for k, i in enumerate(q):
    cnt += i[1]
    if k % 2 != 0:
        res.append((len(q)%k+1, cnt))
        cnt = 0
if len(q) % 2 != 0:
    res.append(q[-1])
        
pprint(res)

[(1, 6), (2, 3), (3, 3), (4, 3)]

In [162]:
# Task26 

q1 = session.query(student.univ_id, func.sum(student.stipend)).group_by(student.univ_id).all()
pprint(q1)

[(10, 950),
 (14, 250),
 (15, 100),
 (18, 200),
 (22, 350),
 (47, 500),
 (48, 350),
 (49, 240)]

In [163]:
# Task27 

q1 = session.query(subject.semester, func.sum(subject.hour)).group_by(subject.semester).all()
pprint(q1)

[(1, 132), (2, 124), (3, 56), (4, 106), (5, 70), (6, 72), (7, 432)]