In [1]:
import pandas as pd

In [12]:
d = {"id":pd.Series([1, 2, 3]),
"count": pd.Series([10, 12, 7]),
"amount": pd.Series([103, 132, 337])}
df1 = pd.DataFrame(d).set_index("id")

df1

    count  amount
id
1      10     103
2      12     132
3       7     337

In [15]:
d2 = {"user_id":pd.Series([1, 2, 3]),
"review": pd.Series(["rev1", "rev2", "rev33"])}
df2 = pd.DataFrame(d2).set_index("user_id")
df2

        review
user_id
1         rev1
2         rev2
3        rev33

In [16]:
df1.join(df2, on="id")

    count  amount review
id
1      10     103   rev1
2      12     132   rev2
3       7     337  rev33