In [1]:
from sqlalchemy import select, create_engine, MetaData, Table

In [2]:
engine = create_engine('sqlite:///listings.db', echo=True)
metadata = MetaData()
connection = engine.connect()

2021-03-14 12:58:38,840 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-03-14 12:58:38,841 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:58:38,844 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-03-14 12:58:38,844 INFO sqlalchemy.engine.base.Engine ()

In [3]:
# Загрузка таблиц
listing = Table('listing', metadata, autoload=True, autoload_with=engine)
neighbourhood = Table('neighbourhood', metadata, autoload=True, autoload_with=engine)
host = Table('host', metadata, autoload=True, autoload_with=engine)
line_item = Table('line_item', metadata, autoload=True, autoload_with=engine)
order = Table('order', metadata, autoload=True, autoload_with=engine)
property_type = Table('property_type', metadata, autoload=True, autoload_with=engine)
room_type = Table('room_type', metadata, autoload=True, autoload_with=engine)
user = Table('user', metadata, autoload=True, autoload_with=engine)

2021-03-14 12:59:27,669 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("listing")
2021-03-14 12:59:27,669 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,672 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-14 12:59:27,672 INFO sqlalchemy.engine.base.Engine ('listing',)
2021-03-14 12:59:27,674 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("listing")
2021-03-14 12:59:27,674 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,675 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-14 12:59:27,676 INFO sqlalchemy.engine.base.Engine ('listing',)
2021-03-14 12:59:27,678 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("host")
2021-03-14 12:59:27,679 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,681 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-14 12:59:27,682 INFO sqlalchemy.engine.base.Engine ('host',)
2021-03-14 12:59:27,683 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("host")
2021-03-14 12:59:27,684 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,684 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("host")
2021-03-14 12:59:27,685 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,686 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-14 12:59:27,686 INFO sqlalchemy.engine.base.Engine ('host',)
2021-03-14 12:59:27,687 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("host")
2021-03-14 12:59:27,688 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,689 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("host")
2021-03-14 12:59:27,689 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,690 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("host")
2021-03-14 12:59:27,691 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,691 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("host")
2021-03-14 12:59:27,692 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,693 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-14 12:59:27,693 INFO sqlalchemy.engine.base.Engine ('host',)
2021-03-14 12:59:27,697 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("neighbourhood")
2021-03-14 12:59:27,697 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,698 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-14 12:59:27,699 INFO sqlalchemy.engine.base.Engine ('neighbourhood',)
2021-03-14 12:59:27,700 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("neighbourhood")
2021-03-14 12:59:27,701 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,702 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("neighbourhood")
2021-03-14 12:59:27,703 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,703 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-14 12:59:27,704 INFO sqlalchemy.engine.base.Engine ('neighbourhood',)
2021-03-14 12:59:27,705 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("neighbourhood")
2021-03-14 12:59:27,705 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,706 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("neighbourhood")
2021-03-14 12:59:27,707 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,707 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("neighbourhood")
2021-03-14 12:59:27,708 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,708 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("neighbourhood")
2021-03-14 12:59:27,709 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,710 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-14 12:59:27,711 INFO sqlalchemy.engine.base.Engine ('neighbourhood',)
2021-03-14 12:59:27,712 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("property_type")
2021-03-14 12:59:27,712 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,714 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-14 12:59:27,715 INFO sqlalchemy.engine.base.Engine ('property_type',)
2021-03-14 12:59:27,716 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("property_type")
2021-03-14 12:59:27,716 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,717 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("property_type")
2021-03-14 12:59:27,718 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,718 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-14 12:59:27,719 INFO sqlalchemy.engine.base.Engine ('property_type',)
2021-03-14 12:59:27,721 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("property_type")
2021-03-14 12:59:27,722 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,724 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("property_type")
2021-03-14 12:59:27,725 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,726 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("property_type")
2021-03-14 12:59:27,727 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,728 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("property_type")
2021-03-14 12:59:27,729 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,730 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-14 12:59:27,731 INFO sqlalchemy.engine.base.Engine ('property_type',)
2021-03-14 12:59:27,732 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("room_type")
2021-03-14 12:59:27,733 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,734 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-14 12:59:27,735 INFO sqlalchemy.engine.base.Engine ('room_type',)
2021-03-14 12:59:27,736 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("room_type")
2021-03-14 12:59:27,737 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,738 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("room_type")
2021-03-14 12:59:27,739 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,739 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-14 12:59:27,740 INFO sqlalchemy.engine.base.Engine ('room_type',)
2021-03-14 12:59:27,741 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("room_type")
2021-03-14 12:59:27,742 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,743 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("room_type")
2021-03-14 12:59:27,743 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,744 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("room_type")
2021-03-14 12:59:27,745 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,746 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("room_type")
2021-03-14 12:59:27,746 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,747 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'

2021-03-14 12:59:27,748 INFO sqlalchemy.engine.base.Engine ('room_type',)
2021-03-14 12:59:27,749 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("listing")
2021-03-14 12:59:27,749 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,750 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_listing_listing_name")
2021-03-14 12:59:27,751 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,752 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_am_price")
2021-03-14 12:59:27,752 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,753 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("listing")
2021-03-14 12:59:27,754 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,755 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_listing_listing_name")
2021-03-14 12:59:27,755 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,756 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_am_price")
2021-03-14 12:59:27,757 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,757 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-14 12:59:27,758 INFO sqlalchemy.engine.base.Engine ('listing',)
2021-03-14 12:59:27,761 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("line_item")
2021-03-14 12:59:27,761 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,763 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-14 12:59:27,764 INFO sqlalchemy.engine.base.Engine ('line_item',)
2021-03-14 12:59:27,765 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("line_item")
2021-03-14 12:59:27,766 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,767 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-14 12:59:27,768 INFO sqlalchemy.engine.base.Engine ('line_item',)
2021-03-14 12:59:27,770 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("order")
2021-03-14 12:59:27,771 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,773 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-14 12:59:27,774 INFO sqlalchemy.engine.base.Engine ('order',)
2021-03-14 12:59:27,775 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("order")
2021-03-14 12:59:27,775 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,777 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-14 12:59:27,777 INFO sqlalchemy.engine.base.Engine ('order',)
2021-03-14 12:59:27,779 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("user")
2021-03-14 12:59:27,779 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,782 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-14 12:59:27,782 INFO sqlalchemy.engine.base.Engine ('user',)
2021-03-14 12:59:27,783 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("user")
2021-03-14 12:59:27,784 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,785 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("user")
2021-03-14 12:59:27,785 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,786 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-14 12:59:27,787 INFO sqlalchemy.engine.base.Engine ('user',)
2021-03-14 12:59:27,788 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("user")
2021-03-14 12:59:27,788 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,790 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("user")
2021-03-14 12:59:27,791 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,792 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_user_1")
2021-03-14 12:59:27,793 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,794 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-14 12:59:27,794 INFO sqlalchemy.engine.base.Engine ('user',)
2021-03-14 12:59:27,796 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("order")
2021-03-14 12:59:27,797 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,799 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("order")
2021-03-14 12:59:27,799 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,800 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("order")
2021-03-14 12:59:27,801 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,802 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("order")
2021-03-14 12:59:27,803 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,803 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-14 12:59:27,804 INFO sqlalchemy.engine.base.Engine ('order',)
2021-03-14 12:59:27,806 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("line_item")
2021-03-14 12:59:27,806 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,808 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("line_item")
2021-03-14 12:59:27,808 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,809 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("line_item")
2021-03-14 12:59:27,809 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,810 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("line_item")
2021-03-14 12:59:27,810 INFO sqlalchemy.engine.base.Engine ()
2021-03-14 12:59:27,811 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-14 12:59:27,811 INFO sqlalchemy.engine.base.Engine ('line_item',)

In [25]:
# запрос из таблицы listing 
# Аналог SELECT * FROM listing
s = select([listing])
rp = connection.execute(s)
# вывод всех строк запроса
results = rp.fetchall()
results

2021-03-14 13:12:53,744 INFO sqlalchemy.engine.base.Engine SELECT listing.listing_id, listing.listing_name, listing.listing_url, listing.host_id, listing.neighbourhood_id, listing.amenities, listing.property_type_id, listing.room_type_id, listing.bedrooms, listing.beds, listing.price
FROM listing
2021-03-14 13:12:53,745 INFO sqlalchemy.engine.base.Engine ()

[(20168, 'Studio with private bathroom in the centre 1', 'https://www.airbnb.com/rooms/20168', 59484, 4, '["Wifi", "Hot water", "Hangers", "Host greets you", "Long term stays allowed", "Carbon monoxide alarm", "Fire extinguisher", "Dedicated workspace", "Paid parking off premises", "Essentials", "Bed linens", "Hair dryer", "TV", "Heating", "Refrigerator", "Free street parking", "Smoke alarm"]', 35, 3, 1, 1, Decimal('236.00')),
 (27886, 'Romantic, stylish B&B houseboat in canal district', 'https://www.airbnb.com/rooms/27886', 97647, 5, '["Carbon monoxide alarm", "Private living room", "Refrigerator", "Dishes and silverware", "Smoke alarm", "Patio or balcony", "Private entrance", "TV" ... (2 characters truncated) ... "Wifi", "Smart lock", "Hot water", "Coffee maker", "Hangers", "Fire extinguisher", "Shampoo", "Luggage dropoff allowed", "Lake access", "Long term st', 30, 3, 1, 1, Decimal('135.00')),
 (28871, 'Comfortable double room', 'https://www.airbnb.com/rooms/28871', 124245, 4, '["Wifi", "Hot water", "Private entrance", "Hangers", "Host greets you", "Lock on bedroom door", "Shampoo", "Carbon monoxide alarm", "Fire extinguisher", "Essentials", "Dryer", "Hair dryer", "Heating", "Refrigerator", "Smoke alarm"]', None, 3, 1, 1, Decimal('75.00')),
 (29051, 'Comfortable single room', 'https://www.airbnb.com/rooms/29051', 124245, 4, '["Coffee maker", "Host greets you", "Hair dryer", "Shampoo", "Hangers", "Bed linens", "Heating", "Lock on bedroom door", "Wifi", "Shower gel", "Essentials", "Smoke alarm", "Fire extinguisher", "Iron", "Refrigerator", "Hot water", "Private entrance"]', None, 3, 1, 1, Decimal('55.00')),
 (31080, '2-story apartment + rooftop terrace', 'https://www.airbnb.com/rooms/31080', 133488, 20, '["Microwave", "Carbon monoxide alarm", "Refrigerator", "Dishes and silverware", "Smoke alarm", "Oven', 2, 1, 3, 3, Decimal('219.00')),
 (31081, None, None, None, None, None, None, None, None, None, None),
 (31082, None, None, None, None, None, None, None, None, None, None),
 (31083, None, None, None, None, None, None, None, None, None, None),
 (31084, None, None, None, None, None, None, None, None, None, None),
 (31085, None, None, None, None, None, None, None, None, None, None),
 (31086, None, None, None, None, None, None, None, None, None, None),
 (31087, None, None, None, None, None, None, None, None, None, None),
 (31088, None, None, None, None, None, None, None, None, None, None),
 (31089, None, None, None, None, None, None, None, None, None, None),
 (31090, None, None, None, None, None, None, None, None, None, None),
 (31091, None, None, None, None, None, None, None, None, None, None),
 (31092, None, None, None, None, None, None, None, None, None, None),
 (31093, None, None, None, None, None, None, None, None, None, None),
 (31094, None, None, None, None, None, None, None, None, None, None),
 (31095, None, None, None, None, None, None, None, None, None, None)]

In [23]:
# запрос из таблицы listing 
# Аналог SELECT * FROM listing LIMIT 1
s = listing.select()
rp = connection.execute(s)
rp.fetchone()

2021-03-14 13:12:27,689 INFO sqlalchemy.engine.base.Engine SELECT listing.listing_id, listing.listing_name, listing.listing_url, listing.host_id, listing.neighbourhood_id, listing.amenities, listing.property_type_id, listing.room_type_id, listing.bedrooms, listing.beds, listing.price
FROM listing
2021-03-14 13:12:27,690 INFO sqlalchemy.engine.base.Engine ()

(20168, 'Studio with private bathroom in the centre 1', 'https://www.airbnb.com/rooms/20168', 59484, 4, '["Wifi", "Hot water", "Hangers", "Host greets you", "Long term stays allowed", "Carbon monoxide alarm", "Fire extinguisher", "Dedicated workspace", "Paid parking off premises", "Essentials", "Bed linens", "Hair dryer", "TV", "Heating", "Refrigerator", "Free street parking", "Smoke alarm"]', 35, 3, 1, 1, Decimal('236.00'))

In [26]:
first_row = results[0] # Первая запись
print(first_row[1]) # Доступ к значению по индексу
print(first_row.listing_name) # Доступ к значению по имени соответствующего столбца
print(first_row[listing.c.listing_name]) # Доступ по имени объекта столбца

Studio with private bathroom in the centre 1
Studio with private bathroom in the centre 1
Studio with private bathroom in the centre 1

In [7]:
connection.execute(listing.insert(), [{}, {}]).rowcount

2021-03-14 13:03:05,212 INFO sqlalchemy.engine.base.Engine INSERT INTO listing DEFAULT VALUES
2021-03-14 13:03:05,213 INFO sqlalchemy.engine.base.Engine ((), ())
2021-03-14 13:03:05,214 INFO sqlalchemy.engine.base.Engine COMMIT

2

In [27]:
from sqlalchemy.sql import func
# Функция суммы по column bedrooms
s = select([func.sum(listing.c.bedrooms)])
rp = connection.execute(s)
print(rp.scalar())

2021-03-14 13:14:44,558 INFO sqlalchemy.engine.base.Engine SELECT sum(listing.bedrooms) AS sum_1
FROM listing
2021-03-14 13:14:44,559 INFO sqlalchemy.engine.base.Engine ()

In [31]:
s = select([listing.c.bedrooms])
rp = connection.execute(s)
print(rp.fetchall()[0].bedrooms)

2021-03-14 13:17:17,976 INFO sqlalchemy.engine.base.Engine SELECT listing.bedrooms
FROM listing
2021-03-14 13:17:17,977 INFO sqlalchemy.engine.base.Engine ()
1

In [11]:
from sqlalchemy import cast, String, Numeric
s=select([listing.c.listing_id, listing.c.price,
          cast(listing.c.price*1.13, Numeric(-1,0)).label('mult')])

for row in connection.execute(s):
    print(row.listing_id, row.price, row.mult)

2021-03-14 13:05:31,306 INFO sqlalchemy.engine.base.Engine SELECT listing.listing_id, listing.price, CAST(listing.price * ? AS NUMERIC(-1, 0)) AS mult
FROM listing
2021-03-14 13:05:31,307 INFO sqlalchemy.engine.base.Engine (1.13,)
31081 None None
31082 None None
31083 None None
31084 None None
31085 None None
31086 None None
31087 None None
31088 None None
31089 None None
31090 None None
31091 None None
31092 None None
31093 None None
31094 None None
31095 None None
27886 135.00 153
29051 55.00 62
31080 219.00 247
20168 236.00 267
28871 75.00 85

In [12]:
from sqlalchemy import cast, String
s=select([listing.c.price, listing.c.listing_name + ' for ' +
          cast(listing.c.price, String(20)).label('mult') +
          ' euros'])

rp=connection.execute(s)
for row in rp:
    print(row)

2021-03-14 13:06:41,607 INFO sqlalchemy.engine.base.Engine SELECT listing.price, listing.listing_name || ? || CAST(listing.price AS VARCHAR(20)) || ? AS anon_1
FROM listing
2021-03-14 13:06:41,608 INFO sqlalchemy.engine.base.Engine (' for ', ' euros')
(Decimal('236.00'), 'Studio with private bathroom in the centre 1 for 236 euros')
(Decimal('135.00'), 'Romantic, stylish B&B houseboat in canal district for 135 euros')
(Decimal('75.00'), 'Comfortable double room for 75 euros')
(Decimal('55.00'), 'Comfortable single room for 55 euros')
(Decimal('219.00'), '2-story apartment + rooftop terrace for 219 euros')
(None, None)
(None, None)
(None, None)
(None, None)
(None, None)
(None, None)
(None, None)
(None, None)
(None, None)
(None, None)
(None, None)
(None, None)
(None, None)
(None, None)
(None, None)

In [13]:
result = connection.execute("select upper(host_name) from host").fetchall()

2021-03-14 13:07:00,238 INFO sqlalchemy.engine.base.Engine select upper(host_name) from host
2021-03-14 13:07:00,239 INFO sqlalchemy.engine.base.Engine ()